body {
  margin: 0;
}

img {
  width: 100%;
}

.pc {
  display: block;
}

@media screen and (max-width: 1084px) {
  .pc {
    display: none;
  }
}

.mobile {
  display: none;
}

@media screen and (max-width: 1084px) {
  .mobile {
    display: block;
  }
}

#navbar {
  width: 100%;
  max-width: calc(1600px + 10%);
  margin: auto;
  padding: 0 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#navbar .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar .nav-container .logo {
  width: 100px;
  margin-right: 16px;
}

@media screen and (max-width: 1084px) {
  #navbar .nav-container .logo {
    position: absolute;
    right: calc(50% - 50px);
  }
}

#navbar .nav-container .navL {
  margin-right: auto;
}

#navbar .nav-container .navL ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

#navbar .nav-container .navL ul li {
  list-style: none;
}

#navbar .nav-container .navL ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 11px;
  color: black;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  line-height: 25px;
  position: relative;
}

#navbar .nav-container .navL ul li a::before {
  background-color: currentColor;
  content: "";
  display: none;
  height: 2px;
  position: absolute;
  bottom: 10px;
  width: calc(100% - 20px);
}

#navbar .nav-container .navL ul li a:hover::before {
  display: block;
}

#navbar .nav-container .navR {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

#navbar .nav-container .navR .menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 11px;
  color: black;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  line-height: 25px;
  position: relative;
}

#navbar .nav-container .navR .menu a::before {
  background: currentColor;
  content: "";
  display: none;
  height: 2px;
  position: absolute;
  bottom: 10px;
  width: calc(100% - 50px);
}

#navbar .nav-container .navR .menu a:hover::before {
  display: block;
}

@media screen and (max-width: 1084px) {
  #navbar .nav-container .navR .menu a p {
    display: none;
  }
}

#navbar .nav-container .navR .menu a img {
  width: 10px;
  height: 10px;
  padding: 0 5px;
}

@media screen and (max-width: 550px) {
  #navbar .nav-container .navR .menu a img {
    padding-top: 10px;
  }
}

#navbar .nav-container .navR .search a, #navbar .nav-container .navR .chart a, #navbar .nav-container .navR .signin a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 11px;
  color: black;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  line-height: 25px;
  position: relative;
}

#navbar .nav-container .navR .search a::before, #navbar .nav-container .navR .chart a::before, #navbar .nav-container .navR .signin a::before {
  background: currentColor;
  content: "";
  display: none;
  height: 2px;
  position: absolute;
  bottom: 10px;
  width: calc(100% - 50px);
}

#navbar .nav-container .navR .search a:hover::before, #navbar .nav-container .navR .chart a:hover::before, #navbar .nav-container .navR .signin a:hover::before {
  display: block;
}

@media screen and (max-width: 550px) {
  #navbar .nav-container .navR .search a, #navbar .nav-container .navR .chart a, #navbar .nav-container .navR .signin a {
    margin-left: 0px;
  }
}

@media screen and (max-width: 1084px) {
  #navbar .nav-container .navR .search a p, #navbar .nav-container .navR .chart a p, #navbar .nav-container .navR .signin a p {
    display: none;
  }
}

#navbar .nav-container .navR .search a img, #navbar .nav-container .navR .chart a img, #navbar .nav-container .navR .signin a img {
  width: 20px;
  margin-left: 10px;
}

@media screen and (max-width: 550px) {
  #navbar .nav-container .navR .search a img, #navbar .nav-container .navR .chart a img, #navbar .nav-container .navR .signin a img {
    width: 10px;
  }
}

#main {
  width: 100%;
  max-width: calc(1600px + 10%);
  margin: auto;
  padding: 0 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#main .banner-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main .banner-container .banner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 50px;
}

@media screen and (max-width: 767px) {
  #main .banner-container .banner-content {
    bottom: 25px;
  }
}

@media screen and (max-width: 550px) {
  #main .banner-container .banner-content {
    bottom: 20px;
  }
}

#main .banner-container .banner-content h2 {
  margin: 0;
  font-size: 40px;
}

@media screen and (max-width: 767px) {
  #main .banner-container .banner-content h2 {
    font-size: 28px;
  }
}

@media screen and (max-width: 550px) {
  #main .banner-container .banner-content h2 {
    display: none;
  }
}

#main .banner-container .banner-content p {
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  #main .banner-container .banner-content p {
    font-size: 13px;
  }
}

@media screen and (max-width: 550px) {
  #main .banner-container .banner-content p {
    display: none;
  }
}

#main .banner-container .banner-content .banner-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  padding: 10px;
}

#main .banner-container .banner-content a {
  font-size: 15px;
  font-weight: 800;
  color: blanchedalmond;
  text-decoration: none;
}

@media screen and (max-width: 550px) {
  #main .banner-container .banner-content a {
    font-size: 1px;
    padding: 5px;
  }
}

#main .banner-container .img-peek {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: calc(1600px + 10%);
  position: absolute;
  bottom: 50%;
}

#main .banner-container .img-peek .peek-style {
  width: 46px;
  height: 46px;
  background-color: #d8d8d8;
  border-radius: 23px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  line-height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#main .banner-container .img-peek .peek-L {
  padding-left: 12px;
}

#main .banner-container .img-peek .peek-R {
  padding-left: 16px;
}

#main .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: calc(1600px + 10%);
  margin: auto;
}

#main .card-container .card {
  width: calc(25% - 12px);
  padding: 30px 0;
}

@media screen and (max-width: 1084px) {
  #main .card-container .card {
    width: calc(50% - 12px);
  }
}

@media screen and (max-width: 550px) {
  #main .card-container .card {
    width: 100%;
  }
}

#main .card-container .card .card_content {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
}

#main .card-container .card a {
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  font-weight: 600;
}

#main .social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: calc(1600px +10%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
}

#main .social-container .social-pad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* margin-right: auto; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main .social-container .social-pad .social-pad h2 {
  padding: 30px 0;
  margin-right: 20px;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #444444;
}

#main .social-container .social-pad a {
  margin-right: 10px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #e9e9e9;
  margin: auto;
}

.footer-container .footer-list {
  width: 8%;
  /* margin-right: 100px; */
}

@media screen and (max-width: 1399px) {
  .footer-container .footer-list {
    width: 18%;
    margin-right: 100px;
  }
}

.footer-container .footer-list ul {
  padding: 0;
  margin: 0;
}

.footer-container .footer-list ul h2 {
  padding-top: 10px;
  font-size: 15px;
}

.footer-container .footer-list ul li {
  list-style: none;
  padding: 5px;
  font-size: 13px;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */