body {
  margin: 0;
}

a:-webkit-any-link {
  color: unset;
  text-decoration: none;
}

.fontstyle {
  color: #333333;
}

.card-style-blue {
  background-color: #258ede;
}

.card-style-blue:hover {
  background-color: #0c75c5;
}

.card-style-blue:focus {
  background-color: #0c75c5;
}

.card-style-lightblue {
  background-color: #4fe5ff;
}

.card-style-lightblue:hover {
  background-color: #36cce6;
}

.card-style-lightblue:focus {
  background-color: #36cce6;
}

.card-style-pink {
  background-color: #cf8fff;
}

.card-style-pink:hover {
  background-color: #b676e6;
}

.card-style-pink:focus {
  background-color: #b676e6;
}

.card-style-green {
  background-color: #69e56e;
}

.card-style-green:hover {
  background-color: #50cc55;
}

.card-style-green:focus {
  background-color: #50cc55;
}

* {
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.sm-card-black {
  background-color: black;
  color: white;
}

.sm-card-black:hover {
  background-color: white;
  color: black;
}

.sm-card-gray57 {
  background-color: #393939;
  color: white;
}

.sm-card-gray57:hover {
  background-color: white;
  color: black;
}

.sm-card-gray118 {
  background-color: #767676;
  color: white;
}

.sm-card-gray118:hover {
  background-color: white;
  color: black;
}

.sm-card-gry204 {
  background-color: #cccccc;
  color: white;
}

.sm-card-gry204:hover {
  background-color: white;
  color: black;
}

.pc {
  display: block;
}

@media screen and (max-width: 766px) {
  .pc {
    display: none;
  }
}

.mobile {
  display: none;
}

@media screen and (max-width: 1084px) {
  .mobile {
    display: block;
  }
}

@media screen and (max-width: 1280px) {
  .banner-img-1, .banner-img-3 {
    display: none;
  }
}

.all {
  overflow: hidden;
  background-color: black;
}

.all .headerStyle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.all .headerStyle .navbar {
  width: 1536px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (max-width: 1680px) {
  .all .headerStyle .navbar {
    width: 1336px;
  }
}

@media screen and (max-width: 1460px) {
  .all .headerStyle .navbar {
    width: 1136px;
  }
}

@media screen and (max-width: 1280px) {
  .all .headerStyle .navbar {
    width: 960px;
  }
}

@media screen and (max-width: 1024px) {
  .all .headerStyle .navbar {
    width: 100%;
    padding: 0 30px;
  }
}

.all .headerStyle .navbar .logo {
  width: 190px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1024px) {
  .all .headerStyle .navbar .logo {
    width: 60px;
  }
}

@media screen and (max-width: 670px) {
  .all .headerStyle .navbar .logo {
    width: 30px;
  }
}

.all .headerStyle .navbar .logo svg {
  height: 16px;
  fill: white;
}

.all .headerStyle .navbar .logo:hover .microsoft-red {
  fill: #f25022;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.all .headerStyle .navbar .logo:hover .microsoft-green {
  fill: #7fba00;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.all .headerStyle .navbar .logo:hover .microsoft-blue {
  fill: #00a4ef;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.all .headerStyle .navbar .logo:hover .microsoft-yellow {
  fill: #ffb900;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.all .headerStyle .navbar .logo:focus .microsoft-red {
  fill: #f25022;
}

.all .headerStyle .navbar .logo:focus .microsoft-green {
  fill: #7fba00;
}

.all .headerStyle .navbar .logo:focus .microsoft-blue {
  fill: #00a4ef;
}

.all .headerStyle .navbar .logo:focus .microsoft-yellow {
  fill: #ffb900;
}

.all .headerStyle .navbar .siteTitle h1 a {
  font-size: 16px;
  font-weight: 500;
  color: white;
  line-height: 48px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.all .headerStyle .navbar .siteTitle h1 a:hover {
  color: #0078d4;
}

.all .headerStyle .navbar .siteTitle h1 a:focus {
  color: #0078d4;
}

.all .headerStyle .navbar .hamburger-menu {
  background: none;
  border: none;
  display: inline-block;
}

@media screen and (max-width: 766px) {
  .all .headerStyle .navbar .hamburger-menu {
    margin-left: auto;
  }
}

.all .headerStyle .navbar .hamburger-menu .icon-bar {
  background-color: #ffffff;
  height: 2.5px;
  margin: 0 auto 5px;
  width: 28px;
}

@media screen and (max-width: 766px) {
  .all .headerStyle .navbar .hamburger-menu .icon-bar {
    display: block;
  }
}

.all .headerStyle .navbar .menu {
  padding: 0px 120px 0px 420px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media screen and (max-width: 1460px) {
  .all .headerStyle .navbar .menu {
    padding: 0px 60px 0px 120px;
  }
}

@media screen and (max-width: 1024px) {
  .all .headerStyle .navbar .menu {
    padding: 0px 0px 0px 120px;
  }
}

.all .headerStyle .navbar .menu ul li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.all .headerStyle .navbar .menu ul li a {
  font-size: 16px;
  line-height: 49px;
  font-weight: 600;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 1100px) {
  .all .headerStyle .navbar .menu ul li a {
    padding: 0 25px;
  }
}

.all .headerStyle .navbar .menu ul li a:hover {
  color: #0078d4;
}

.all .headerStyle .navbar .menu ul li a:focus {
  color: #0078d4;
}

.all .banner {
  width: 1536px;
  padding: 145px 0 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px auto;
}

@media screen and (max-width: 960px) {
  .all .banner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 1024px) {
  .all .banner {
    padding: 150px 30px 0 30px;
  }
}

@media screen and (max-width: 671px) {
  .all .banner {
    padding: 40px 30px 20px 30px;
  }
}

.all .banner .bannerL {
  min-width: 410px;
}

.all .banner .bannerL h2 {
  font-size: 64px;
  line-height: 80px;
  color: #4fe5ff;
  font-weight: 600;
  margin: 0 0 100px 0;
}

.all .banner .bannerL p {
  max-width: 352px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: white;
  margin-bottom: 24px;
}

@media screen and (max-width: 960px) {
  .all .banner .bannerL p {
    width: 352px;
  }
}

.all .banner .bannerR {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

@media screen and (max-width: 1280px) {
  .all .banner .bannerR {
    padding: 0;
  }
}

.all .banner .bannerR .banner-img-1 {
  position: absolute;
  bottom: 155px;
  left: 180px;
}

@media screen and (max-width: 1680px) {
  .all .banner .bannerR .banner-img-1 {
    left: 20px;
    bottom: 180px;
  }
}

@media screen and (max-width: 1460px) {
  .all .banner .bannerR .banner-img-1 {
    bottom: 120px;
  }
}

@media screen and (max-width: 1280px) {
  .all .banner .bannerR .banner-img-1 {
    display: none;
  }
}

.all .banner .bannerR .banner-img-3 {
  position: absolute;
  top: -15px;
  right: 180px;
}

.all .card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1024px) {
  .all .card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.all .card .cardL {
  width: 6%;
  height: 384px;
  background-color: #2280c8;
}

@media screen and (max-width: 1024px) {
  .all .card .cardL {
    display: none;
  }
}

.all .card .card-content {
  width: 25%;
  height: 384px;
  padding: 24px;
}

@media screen and (max-width: 1024px) {
  .all .card .card-content {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    width: 50%;
    height: 320px;
  }
}

@media screen and (max-width: 767px) {
  .all .card .card-content {
    width: 100%;
    height: 320px;
  }
}

@media screen and (max-width: 500px) {
  .all .card .card-content {
    height: 250px;
  }
}

.all .card .card-content a {
  text-decoration: none;
}

.all .card .card-content a .card-img {
  margin-bottom: 150px;
  margin: 0 0 auto 0;
}

@media screen and (max-width: 1460px) {
  .all .card .card-content a .card-img {
    margin: 0 0 30px 0;
  }
}

@media screen and (max-width: 1024px) {
  .all .card .card-content a .card-img {
    margin: 0 0 50px 0;
  }
}

@media screen and (max-width: 500px) {
  .all .card .card-content a .card-img {
    margin: 0;
  }
}

.all .card .card-content a h2 {
  font-size: 24px;
  font-weight: 600;
  color: black;
  margin: 0;
}

.all .card .card-content a p {
  color: black;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.all .card .cardR {
  width: 6%;
  height: 384px;
  background-color: #5fcf63;
}

@media screen and (max-width: 1024px) {
  .all .card .cardR {
    display: none;
  }
}

.all .parallax {
  /* The image used */
  background-image: url("https://www.microsoft.com/design/fluent/assets/images/msft-verge-fluent.jpg");
  /* Set a specific height */
  height: 768px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 6%;
}

@media screen and (max-width: 1024px) {
  .all .parallax {
    min-height: 668px;
  }
}

@media screen and (max-width: 960px) {
  .all .parallax {
    background-attachment: scroll;
  }
}

@media screen and (max-width: 671px) {
  .all .parallax {
    min-height: 768px;
  }
}

@media screen and (max-width: 1024px) {
  .all .parallax .parallax-contentTOP {
    padding: 30px;
  }
}

.all .parallax .parallax-contentTOP h2 {
  margin: 0;
  font-size: 120px;
  font-weight: 600;
}

@media screen and (max-width: 1460px) {
  .all .parallax .parallax-contentTOP h2 {
    font-size: 100px;
  }
}

@media screen and (max-width: 1024px) {
  .all .parallax .parallax-contentTOP h2 {
    font-size: 90px;
    padding: 0;
    line-height: 90px;
  }
}

@media screen and (max-width: 671px) {
  .all .parallax .parallax-contentTOP h2 {
    font-size: 70px;
    line-height: 70px;
  }
}

@media screen and (max-width: 500px) {
  .all .parallax .parallax-contentTOP h2 {
    font-size: 50px;
    line-height: 50px;
  }
}

.all .parallax .parallax-contentBTM {
  width: 100%;
  max-width: 354px;
}

.all .parallax .parallax-contentBTM p {
  font-size: 15px;
  font-weight: 400;
  margin: 30px;
}

.all .StyledTerraformSphere {
  width: 100%;
  background-color: #191919;
}

.all .StyledTerraformSphere .STS-contaier {
  padding: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .all .StyledTerraformSphere .STS-contaier {
    padding: 50px 30px 0 30px;
  }
}

.all .StyledTerraformSphere .STS-contaier .liNe {
  position: absolute;
  left: 300px;
  bottom: 20px;
}

.all .StyledTerraformSphere .STS-contaier .spHere {
  max-width: 660px;
  padding: 0 30px;
}

.all .StyledTerraformSphere .STS-contaier .spHere img {
  margin: 0 auto 30px auto;
  width: 100%;
}

.all .StyledTerraformSphere .STS-contaier .reCt {
  position: absolute;
  right: 6%;
  top: -204.5px;
}

@media screen and (max-width: 671px) {
  .all .StyledTerraformSphere .STS-contaier .reCt {
    display: none;
  }
}

.all .StyledTerraformDescription {
  width: 100%;
  padding: 0 6%;
  background-color: #191919;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.all .StyledTerraformDescription .STD-content {
  width: 352px;
  height: 96px;
}

.all .StyledTerraformDescription .STD-content p {
  margin: 0;
  color: white;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
}

.all .StyledIntuitivePowerful {
  width: 100%;
  background-color: #191919;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0 0 0;
}

.all .StyledIntuitivePowerful .SIP-title {
  position: absolute;
  bottom: 10px;
  left: 6%;
  z-index: 1;
}

.all .StyledIntuitivePowerful .SIP-title p {
  margin: 0;
  font-size: 96px;
}

@media screen and (max-width: 1680px) {
  .all .StyledIntuitivePowerful .SIP-title p {
    font-size: 86px;
  }
}

@media screen and (max-width: 1024px) {
  .all .StyledIntuitivePowerful .SIP-title p {
    font-size: 76px;
  }
}

@media screen and (max-width: 671px) {
  .all .StyledIntuitivePowerful .SIP-title p {
    font-size: 66px;
  }
}

@media screen and (max-width: 500px) {
  .all .StyledIntuitivePowerful .SIP-title p {
    font-size: 56px;
  }
}

.all .StyledClouds {
  width: 100%;
  /* The image used */
  background-image: url("https://www.microsoft.com/design/fluent/assets/images/clouds.jpg");
  /* Set a specific height */
  min-height: 948px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.all .StyledClouds .SC-container {
  position: relative;
}

.all .StyledClouds .SC-container .Plane {
  width: 768px;
  position: relative;
  right: -180px;
  top: -244px;
  position: absolute;
}

.all .StyledClouds .SC-container .Plane .soliPlane {
  position: absolute;
  z-index: 1;
}

@media screen and (max-width: 1460px) {
  .all .StyledClouds .SC-container .Plane .soliPlane {
    display: none;
  }
}

.all .StyledClouds .SC-container .Plane .outlinePlane {
  position: absolute;
}

@media screen and (max-width: 1460px) {
  .all .StyledClouds .SC-container .Plane .outlinePlane {
    display: none;
  }
}

.all .StyledClouds .SC-container .SC-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5%;
  position: relative;
}

.all .StyledClouds .SC-container .SC-content .SC-contentL h2 {
  position: absolute;
  top: 20px;
  margin: 0;
  font-size: 250px;
}

@media screen and (max-width: 1680px) {
  .all .StyledClouds .SC-container .SC-content .SC-contentL h2 {
    top: 100px;
  }
}

@media screen and (max-width: 1280px) {
  .all .StyledClouds .SC-container .SC-content .SC-contentL h2 {
    top: 150px;
  }
}

@media screen and (max-width: 671px) {
  .all .StyledClouds .SC-container .SC-content .SC-contentL h2 {
    top: 200px;
  }
}

@media screen and (max-width: 1680px) {
  .all .StyledClouds .SC-container .SC-content .SC-contentL h2 {
    font-size: 200px;
  }
}

@media screen and (max-width: 1280px) {
  .all .StyledClouds .SC-container .SC-content .SC-contentL h2 {
    font-size: 150px;
    min-height: 668px;
  }
}

@media screen and (max-width: 960px) {
  .all .StyledClouds .SC-container .SC-content .SC-contentL h2 {
    background-attachment: scroll;
  }
}

@media screen and (max-width: 671px) {
  .all .StyledClouds .SC-container .SC-content .SC-contentL h2 {
    font-size: 100px;
  }
}

@media screen and (max-width: 500px) {
  .all .StyledClouds .SC-container .SC-content .SC-contentL h2 {
    font-size: 50px;
  }
}

.all .StyledClouds .SC-container .SC-content .SC-contentR h2 {
  font-size: 250px;
  margin: 0;
  position: absolute;
  top: 300px;
  right: 0px;
}

@media screen and (max-width: 1280px) {
  .all .StyledClouds .SC-container .SC-content .SC-contentR h2 {
    top: 350px;
  }
}

@media screen and (max-width: 671px) {
  .all .StyledClouds .SC-container .SC-content .SC-contentR h2 {
    top: 400px;
  }
}

@media screen and (max-width: 1680px) {
  .all .StyledClouds .SC-container .SC-content .SC-contentR h2 {
    font-size: 200px;
  }
}

@media screen and (max-width: 1280px) {
  .all .StyledClouds .SC-container .SC-content .SC-contentR h2 {
    font-size: 150px;
    min-height: 668px;
  }
}

@media screen and (max-width: 960px) {
  .all .StyledClouds .SC-container .SC-content .SC-contentR h2 {
    background-attachment: scroll;
  }
}

@media screen and (max-width: 671px) {
  .all .StyledClouds .SC-container .SC-content .SC-contentR h2 {
    font-size: 100px;
  }
}

@media screen and (max-width: 500px) {
  .all .StyledClouds .SC-container .SC-content .SC-contentR h2 {
    font-size: 50px;
  }
}

.all .StyledClouds .SC-container .SC-img {
  position: absolute;
  top: 550px;
  left: 300px;
}

@media screen and (max-width: 1280px) {
  .all .StyledClouds .SC-container .SC-img {
    display: none;
  }
}

.all .StyledEngagingImmersive {
  width: 100%;
  background-color: #cccccc;
  min-height: 820px;
  position: relative;
}

.all .StyledEngagingImmersive .SEI-content {
  padding: 140px 40px 0 6%;
}

@media screen and (max-width: 1460px) {
  .all .StyledEngagingImmersive .SEI-content {
    padding: 50px 0 150px 20px;
  }
}

@media screen and (max-width: 1280px) {
  .all .StyledEngagingImmersive .SEI-content {
    min-height: 668px;
    padding: 30px 0;
  }
}

@media screen and (max-width: 1024px) {
  .all .StyledEngagingImmersive .SEI-content {
    padding: 30px;
  }
}

@media screen and (max-width: 671px) {
  .all .StyledEngagingImmersive .SEI-content {
    min-height: 468px;
  }
}

.all .StyledEngagingImmersive .SEI-content h2 {
  font-size: 110px;
  font-weight: 600;
  margin: 0;
}

@media screen and (max-width: 1280px) {
  .all .StyledEngagingImmersive .SEI-content h2 {
    font-size: 90px;
  }
}

@media screen and (max-width: 1024px) {
  .all .StyledEngagingImmersive .SEI-content h2 {
    font-size: 70px;
  }
}

@media screen and (max-width: 671px) {
  .all .StyledEngagingImmersive .SEI-content h2 {
    font-size: 60px;
  }
}

@media screen and (max-width: 500px) {
  .all .StyledEngagingImmersive .SEI-content h2 {
    font-size: 40px;
  }
}

.all .StyledEngagingImmersive .SEI-content .SEI-text {
  width: 100%;
  max-width: 384px;
}

.all .StyledEngagingImmersive .SEI-content .SEI-text p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.all .StyledEngagingImmersive .SEI-img {
  max-width: 968px;
  position: absolute;
  right: 0;
  top: 200px;
}

@media screen and (max-width: 1680px) {
  .all .StyledEngagingImmersive .SEI-img {
    width: 50%;
    top: 270px;
  }
}

@media screen and (max-width: 1280px) {
  .all .StyledEngagingImmersive .SEI-img {
    top: 150px;
  }
}

@media screen and (max-width: 1024px) {
  .all .StyledEngagingImmersive .SEI-img {
    width: 70%;
    right: -180px;
    top: 150px;
  }
}

@media screen and (max-width: 767px) {
  .all .StyledEngagingImmersive .SEI-img {
    width: 60%;
    right: -140px;
    top: 200px;
  }
}

@media screen and (max-width: 671px) {
  .all .StyledEngagingImmersive .SEI-img {
    display: none;
  }
}

.all .StyledEngagingImmersive .SEI-img img {
  width: 100%;
}

.all .Styledspace {
  /* The image used */
  background-image: url("https://www.microsoft.com/design/fluent/assets/images/space.jpg");
  /* Set a specific height */
  height: 968px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1280px) {
  .all .Styledspace {
    min-height: 668px;
  }
}

@media screen and (max-width: 960px) {
  .all .Styledspace {
    background-attachment: scroll;
  }
}

@media screen and (max-width: 500px) {
  .all .Styledspace {
    min-height: 568px;
  }
}

.all .Styledspace .SS-img {
  position: relative;
}

.all .Styledspace .SS-img .SS-line {
  position: absolute;
  top: 200px;
  left: 200px;
}

@media screen and (max-width: 1460px) {
  .all .Styledspace .SS-img .SS-line {
    left: 50px;
    top: 300px;
  }
}

@media screen and (max-width: 960px) {
  .all .Styledspace .SS-img .SS-line {
    left: 20px;
  }
}

@media screen and (max-width: 500px) {
  .all .Styledspace .SS-img .SS-line {
    display: none;
  }
}

.all .Styledspace .SS-img .SS-fluent {
  position: absolute;
  top: -100px;
  left: 30%;
}

@media screen and (max-width: 767px) {
  .all .Styledspace .SS-img .SS-fluent {
    margin: 0 0 0 -50px;
  }
}

@media screen and (max-width: 500px) {
  .all .Styledspace .SS-img .SS-fluent {
    width: 100vw;
    max-width: 50vw;
    margin: 0;
  }
}

@media screen and (max-width: 401px) {
  .all .Styledspace .SS-img .SS-fluent {
    width: 100vw;
    max-width: 70vw;
    top: 0;
    left: 10%;
  }
}

.all .Styledspace .SS-img .SS-rect {
  position: absolute;
  top: -125px;
  left: 620px;
}

@media screen and (max-width: 1460px) {
  .all .Styledspace .SS-img .SS-rect {
    left: unset;
    right: 40px;
    top: 90px;
  }
}

@media screen and (max-width: 500px) {
  .all .Styledspace .SS-img .SS-rect {
    display: none;
  }
}

.all .Styledspace .SS-img .SS-lilarect {
  position: absolute;
  top: 370px;
  right: 220px;
}

@media screen and (max-width: 1680px) {
  .all .Styledspace .SS-img .SS-lilarect {
    top: 360px;
  }
}

@media screen and (max-width: 767px) {
  .all .Styledspace .SS-img .SS-lilarect {
    display: none;
  }
}

.all .Styledspace .SS-img .SS-plane {
  position: absolute;
  top: 530px;
  right: 85px;
}

.all .Styledspace .SS-img .SS-plane .rect_white_3 {
  position: absolute;
  top: 540px;
  right: 100px;
}

@media screen and (max-width: 500px) {
  .all .Styledspace .SS-img .SS-plane .rect_white_3 {
    display: none;
  }
}

.all .StyleMedia {
  background-color: black;
  width: 100%;
}

.all .StyleMedia .SM-card {
  padding: 0 6% 120px 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1024px) {
  .all .StyleMedia .SM-card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.all .StyleMedia .SM-card .SM-card-content {
  width: 25%;
  padding: 16px;
}

@media screen and (max-width: 1024px) {
  .all .StyleMedia .SM-card .SM-card-content {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    width: 50%;
    height: 320px;
  }
}

@media screen and (max-width: 767px) {
  .all .StyleMedia .SM-card .SM-card-content {
    width: 100%;
    height: 320px;
  }
}

@media screen and (max-width: 500px) {
  .all .StyleMedia .SM-card .SM-card-content {
    height: 250px;
  }
}

.all .StyleMedia .SM-card .SM-card-content a {
  text-decoration: none;
}

.all .StyleMedia .SM-card .SM-card-content a .SM-title {
  margin-bottom: 120px;
}

.all .StyleMedia .SM-card .SM-card-content a .SM-title h2 {
  margin: 0;
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
}

.all .StyleMedia .SM-card .SM-card-content a .SM-source {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 16px 16px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all .StyleMedia .SM-card .SM-card-content a .SM-source .SM-icon {
  fill: #929292;
  margin: 5px 16px 0 0;
}

.all .StyleMedia .SM-card .SM-card-content a .SM-source p {
  margin: 0;
}

.all .StyleNews {
  background-color: black;
  width: 100%;
}

.all .StyleNews .SN-content {
  width: 100%;
  padding: 0 6% 150px 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 960px) {
  .all .StyleNews .SN-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.all .StyleNews .SN-content .SN-title {
  width: 50%;
}

@media screen and (max-width: 960px) {
  .all .StyleNews .SN-content .SN-title {
    width: unset;
  }
}

.all .StyleNews .SN-content .SN-title h2 {
  font-size: 32px;
  line-height: 40px;
  color: white;
  font-weight: 600;
  padding: 0px 0px 0px 0px;
  margin: 0;
}

.all .StyleNews .SN-content .SN-text {
  width: 50%;
}

@media screen and (max-width: 960px) {
  .all .StyleNews .SN-content .SN-text {
    width: unset;
  }
}

.all .StyleNews .SN-content .SN-text p {
  color: white;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 50px;
}

@media screen and (max-width: 960px) {
  .all .StyleNews .SN-content .SN-text p {
    font-size: 16px;
  }
}

.all .StyleNews .SN-content .SN-text a {
  text-decoration: none;
  color: white;
}

.all .footerStyle {
  width: 100%;
  background-color: black;
  position: relative;
}

.all .footerStyle .footbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 6%;
}

@media (max-width: 1080px) {
  .all .footerStyle .footbar {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
}

.all .footerStyle .footbar .logo {
  width: 150px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1200px) {
  .all .footerStyle .footbar .logo {
    width: 50px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}

.all .footerStyle .footbar .logo svg {
  height: 16px;
  fill: white;
}

.all .footerStyle .footbar .logo svg:hover .microsoft-red {
  fill: #f25022;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.all .footerStyle .footbar .logo svg:hover .microsoft-green {
  fill: #7fba00;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.all .footerStyle .footbar .logo svg:hover .microsoft-blue {
  fill: #00a4ef;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.all .footerStyle .footbar .logo svg:hover .microsoft-yellow {
  fill: #ffb900;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.all .footerStyle .footbar .logo svg:focus .microsoft-red {
  fill: #f25022;
}

.all .footerStyle .footbar .logo svg:focus .microsoft-green {
  fill: #7fba00;
}

.all .footerStyle .footbar .logo svg:focus .microsoft-blue {
  fill: #00a4ef;
}

.all .footerStyle .footbar .logo svg:focus .microsoft-yellow {
  fill: #ffb900;
}

.all .footerStyle .footbar .menu {
  width: 100%;
}

.all .footerStyle .footbar .menu ul {
  margin: 0;
  padding: 0;
}

.all .footerStyle .footbar .menu ul li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.all .footerStyle .footbar .menu ul li a {
  text-decoration: none;
  font-size: 16px;
  line-height: 49px;
  font-weight: 400;
  color: white;
  margin-right: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.all .footerStyle .footbar .menu ul li a:hover {
  color: #0078d4;
}

.all .footerStyle .footbar .menu ul li a:focus {
  color: #0078d4;
}

@media (max-width: 1520px) {
  .all .footerStyle .footbar .menu ul li a {
    font-size: 14px;
    margin-right: 0;
  }
}

.all .footerStyle .footbar .iconLinks {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1080px) {
  .all .footerStyle .footbar .iconLinks {
    position: absolute;
    top: 0;
    right: 5%;
  }
}

.all .footerStyle .footbar .iconLinks a {
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all .footerStyle .footbar .iconLinks a svg {
  width: 20px;
  fill: white;
  margin-left: 50px;
}

@media (max-width: 1520px) {
  .all .footerStyle .footbar .iconLinks a svg {
    margin-left: 25px;
  }
}

.all .footerStyle .footbar .iconLinks a svg g {
  margin: 0px;
  padding: 0px;
  border-spacing: 0px;
}
/*# sourceMappingURL=style-0206.css.map */